* {
    box-sizing: border-box;
}


body {
    /* height: 100%; */
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
    

}

a {
    text-decoration: none;
}

p {
    margin: 0px;
    padding: 0px;
}

ul,
li {
    list-style: none;
    padding: 0px;
    
}


[class*="__container"] {
    max-width: 1440px;
    margin: 0px auto;
    
}

.about__container,
.favorites__container {
    padding: 0 20px;
}

/* *________________________________________________HEADER________________ */
.header__elements {
    display: flex;
    background-color: var(--black);
    height: 90px;
    flex-wrap: wrap;
    /*TODO: burgermenu*/

}

.header__logo {
    margin: 20px;
    text-align: center;

}

.header__nav {
    margin-left: auto;
    margin-right: 20px;
    justify-content: flex-end;
}

@media (max-width: 1200px) {
    .header__nav {
        display: none; /*TODO: burgermenu*/
        
    }
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.auth-icon__img {
    margin: 31px 20px;
}

.nav__link {
    color: var(--header-text);
    line-height: 50px;

}

.nav__link:hover {
    color: var(--main-library);

}

/* *________________________________________________WELCOME_SECTION________________ */

.welcome__image {
    height: 600px;
    background: url(/library/img/header-img-library.jpeg) no-repeat center;
    background-size: cover;

}

.welcome__text-block {
    width: 600px;
    height: 220px;
    background-color: var(--black);
    padding: 35px 40px;
    text-align: center;
    margin: 220px 840px 160px 0px;
    position: absolute;
}

@media (max-width: 600px) {
    .welcome__text-block {
        width: 100%;
        height: 300px;margin: 0px 90px 40px 0;
    }
}

.welcome__overlay {
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    z-index: 999;

}

/* *________________________________________________ABOUT_SECTION________________ */

.content {
    display: flex; /* ? USE GRID */
    flex-direction: column;
    align-items: center;
 
}

.main__title-block {
    margin: 20px 0px;
    
}

.main__title-block hr {
    margin: 0 auto;
    width: 50px;

}

.main__description {
    text-align: center;
    margin: 20px 0;
    
}

/* *__SLIDER__*/

.slider__item-list {
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;
 
}

.slider__item {
    width: 450px;
    height: 560px;
    overflow: hidden;

}

.slider__image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    
}

@media (max-width: 768px) {
    .slider__item-list {
        width: 100%;
        justify-content: center;

    }
    .slider__item:not(:first-child) { 
        display: none;
    }
    /* .slider__navigation-list ul {
        margin: 0px 0px 45px 0px;
    } */
}

.slider__navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0px 40px 0px;
}


.slider__navigation-item {
    display: flex;
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;
    
}

.slider__dot {
    background-color: var(--black-library);
    border-radius: 100%;
    width: 16px;
    height: 16px;
    cursor:pointer;
    
}

.slider__dot:hover {
    background-color: var(--main-library);
}


/* *________________________________________________favorites_SECTION________________ */
.favorites__season {
    align-self: start;
    margin: 10px 0px;
}

.radio-button {
    display: flex;
    flex-direction: row;
    align-self: start;
    
}

/* *__CUSTOM RADIO__*/  
/* TODO think of a simple release __ element alignment*/

.radio-button__item input[type="radio"] {
    display: none;
}

.radio-button__item {
    position: relative;
    padding-left: 40px;
    margin: 15px 90px 0px 0px;
    
    
}

.radio-button__item span{
    width: 17px;
    height: 17px;
    border-radius: 100%;
    border: 2px solid black;
    position: absolute;
    left: 0px;
    top: 13px;

}

.radio-button__item span:hover {
    cursor: pointer;
}

.radio-button__item input[type="radio"]:checked + span::before {
    content: "" ;
    border-radius: 100%;
    background-color: #0C0C0E;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.radio-button__item input[type="radio"]:checked ~ p {
    font-weight: bold;
}

/* *________________________________________________FONTS________________ */

/* TODO fix_fonts */

.title {
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin: 0px;
    line-height: 40px;
    color: var(--black-library);

}

.header__title {
    font-size: 30px;
    color: var(--header-text);
    letter-spacing: 0.6px;
    line-height: 50px;

}

.welcome__title {
    color: var(--header-text);
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 50px;

}

.main__title {
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;

}














    











.title__sect .nav__item {}

.wrapper {}

.header {}

.main {}

.footer {}

.header__container {}

.welcome {}

.about {}

.nav {}

.login {}

.welcome__container {}

.about__container {}

.login__link {}

.welcome__title {}

.title {}

.nav__link.nav__link--active {}

/**________________________________________________________________________ COLOR */

:root {
    --header-text: #fff;
    --black: #0C0C0E;
    --black-library: #0C0C0E;
    --main-library: #BB945F;
    --white: #fff;
    --gray-library: #8E8E8E;
    




}