* {
    box-sizing: border-box;
}


body {
    /* height: 100%; */
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    font-style: normal;


}

a {
    text-decoration: none;
}

p {
    margin: 0px;
    padding: 0px;
}

ul,
li {
    list-style: none;
    padding: 0px;

}


[class*="__container"] {
    max-width: 1440px;
    margin: 0px auto;
    width: 100%;

}

.about__container,
.favorites__container {
    padding: 0 20px;
}

/* *________________________________________________HEADER________________ */
.header__elements {
    display: flex;
    background-color: var(--black);
    height: 90px;
    flex-wrap: wrap;
    /*TODO: burgermenu*/

}

.header__logo {
    margin: 20px;
    text-align: center;

}

.header__nav {
    margin-left: auto;
    margin-right: 20px;
    justify-content: flex-end;
}

@media (max-width: 1200px) {
    .header__nav {
        display: none;
        /*TODO: burgermenu*/

    }
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.auth-icon__img {
    margin: 31px 20px;
}

.nav__link {
    color: var(--header-text);
    line-height: 50px;

}

.nav__link:hover {
    color: var(--main-library);

}

/* *________________________________________________WELCOME_SECTION________________ */

.welcome__image {
    height: 600px;
    background: url(/library/img/header-img-library.jpeg) no-repeat center;
    background-size: cover;

}

.welcome__text-block {
    width: 600px;
    height: 220px;
    background-color: var(--black);
    padding: 35px 40px;
    text-align: center;
    margin: 220px 840px 160px 0px;
    position: absolute;
}

@media (max-width: 600px) {
    .welcome__text-block {
        width: 100%;
        height: 300px;
        margin: 0px 90px 40px 0;
    }
}

.welcome__overlay {
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    z-index: 999;

}

/* *________________________________________________ABOUT_SECTION________________ */

.content {
    display: flex;
    /* ? USE GRID */
    flex-direction: column;
    align-items: center;

}

.main__title-block {
    margin: 20px 0px;

}

.main__title-block hr {
    margin: 0 auto;
    width: 50px;

}

.main__description {
    text-align: center;
    margin: 20px 0;

}

/* *__SLIDER__*/

.slider {
    width: 100%;
}

.slider__item-list {
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;

}

.slider__item {
    width: 450px;
    height: 560px;
    overflow: hidden;

}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media (max-width: 768px) {
    .slider__item-list {
        width: 100%;
        justify-content: center;

    }

    .slider__item:not(:first-child) {
        display: none;
    }

    /* .slider__navigation-list ul {
        margin: 0px 0px 45px 0px;
    } */
}

.slider__navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0px 40px 0px;
}


.slider__navigation-item {
    display: flex;
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;

}

.slider__dot {
    background-color: var(--black-library);
    border-radius: 100%;
    width: 16px;
    height: 16px;
    cursor: pointer;

}

.slider__dot:hover {
    background-color: var(--main-library);
}


/* *________________________________________________favorites_SECTION________________ */
.favorites__description {
    align-self: start;
    margin: 10px 0px;
}

/* *__CUSTOM RADIO__*/
/* TODO think of a simple release __ element alignment*/

.radio-button {
    display: flex;
    flex-direction: row;
    align-self: start;
    column-gap: 40px;
    flex-wrap: wrap;
    width: 100%;

}

.radio-button__item input[type="radio"] {
    display: none;
}

.radio-button__item {
    margin-top: 15px;
    flex: 0 0 150px;
    text-align: left;
    margin-bottom: 31px;

}

.radio-button__item:hover {
    cursor: pointer;
}

.custom-radio {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    margin-right: 14px;
    vertical-align: middle;
}

.radio-button__item input[type="radio"]:checked+.custom-radio::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    background-color: #0C0C0E;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.radio-button__item input[type="radio"]:checked~.custom-radio-name {
    font-weight: bold;
}

.favorites-list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    row-gap: 40px;
    column-gap: 260px;

}

.book {
    width: 550px;
    height: 555px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* row-gap: 20px; */
    padding: 15px 20px;
    position: relative;
}

.book__name,
.book__title {
    margin-bottom: 20px;

}

.border-styled {
    width: 60px;
    height: 1px;
    border-bottom: 1px solid var(--main-library);
}


.book__button {
    /* position: relative; */
    bottom: 14px;
    margin-top: auto;
    margin-right: auto;

}

.button-low {
    width: 75px;
    height: 30px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    border: 1px solid var(--black-library);
    border-radius: 2px;
}

.button-low:hover {
    background: var(--main-library);
    transition: all 500ms linear;
    cursor: pointer;

}


.book__preview {
    width: 200px;
    height: 300px;
    position: absolute;
    left: 389px;
    top: 254px;
}

.book__preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}








/* *________________________________________________FONTS________________ */

/* TODO fix_fonts */

.title {
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin: 0px;
    line-height: 40px;
    color: var(--black-library);

}

.header__title {
    font-size: 30px;
    color: var(--header-text);
    letter-spacing: 0.6px;
    line-height: 50px;

}

.welcome__title {
    color: var(--header-text);
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 50px;

}

.main__title {
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.book__name {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: capitalize;

}

.book__title {
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: Forum;
}

.book__text {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 355px;
}


























.title__sect .nav__item {}

.wrapper {}

.header {}

.main {}

.footer {}

.header__container {}

.welcome {}

.about {}

.nav {}

.login {}

.welcome__container {}

.about__container {}

.login__link {}

.welcome__title {}

.title {}

.nav__link.nav__link--active {}

/**________________________________________________________________________ COLOR */

:root {
    --header-text: #fff;
    --black: #0C0C0E;
    --black-library: #0C0C0E;
    --main-library: #BB945F;
    --white: #fff;
    --gray-library: #8E8E8E;





}