* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-base);
    margin: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: inherit;
}

a:hover {
    color: var(--main-library);
    transition: 500ms;
}

p {
    margin: 0px;
    padding: 0px;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;

}

b,
strong {
    font-weight: 700 !important;
}

/* *________________________________________________SUMMARY________________ */
[class*="__container"] {
    max-width: 1440px;
    margin: 0px auto;
    width: 100%;

}

[class*="__content"] {
    padding: 20px 20px 40px 20px;
    gap: 20px;

}

.title__border {
    width: 50px;
    border-bottom: 1px solid var(--black-library);
    margin-top: 20px;
    margin: 20px auto;
}

/* *________________________________________________HEADER________________ */
.header {
    background-color: var(--black-library);
}

.header__elements {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--black-library);
    height: 90px;
    padding: 20px;
    align-items: center;
    /*TODO: burgermenu*/

}

.header__nav {
    margin-left: auto;
}

@media (max-width: 1200px) {
    .header__nav {
        display: none;
        /*TODO: burgermenu*/

    }
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.auth-icon {
    margin-left: 40px;
}

.nav__link {
    color: var(--white);
    position: relative;
}

.nav__item a::after {
    position: absolute;
    content: "";
    background-color: var(--main-library);
    top: 120%;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);

}

.nav__item a:hover::after {
    opacity: 1;
    transform: translateY(0px);
}

.nav__link:hover {
    animation-name: link;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes link {
    0% {
        color: var(--header-footer-text-color);
    }

    100% {
        color: var(--main-library);
    }
}


/* *________________________________________________WELCOME_SECTION________________ */

.welcome {
    height: 600px;
    width: 100%;
    background: url(../img/header-img-library.jpeg) no-repeat center;
    background-size: cover;

}

.welcome__container {
    display: flex;
}

.welcome__text-block {
    width: 600px;
    height: 220px;
    background-color: var(--black-library);
    text-align: center;
    padding: 35px 40px;
    margin: 220px 840px 160px 0px;
    position: absolute;
}

@media (max-width: 600px) {
    .welcome__text-block {
        width: 100%;
        height: 300px;
        margin: 0px 90px 40px 0;
    }
}

.welcome__overlay {
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    

}

/* *________________________________________________ABOUT_SECTION________________ */

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}
.about__content {
    padding-bottom: 35px;
}

/* *______________________________SLIDER__*/

.slider {
    width: 100%;
}

.slider__image-list {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    flex-wrap: nowrap;

}

.slider__image {
    width: 450px;
    height: 560px;
    overflow: hidden;

}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media (max-width: 768px) {
    .slider__item {
        width: 100%;
        justify-content: center;

    }

    .slider__image-list:not(:first-child) {
        display: none;
    }

}


.slider__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

.slider__navigation-item {
    display: flex;
    width: 26px;
    height: 26px;
    padding: 5px;
    justify-content: center;
    cursor: pointer;

}

.slider__dot {
    background-color: var(--black-library);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    

}

.slider__dot--active {
    background-color: var(--main-library);
}

.slider__dot:hover {
    background-color: var(--main-library);
}


/* *______________________________________________FAVORITES_SECTION______________ */

.favorites__description {
    align-self: start;

}
/* *______________________________CUSTOM RADIO__*/

/* TODO Ements alignment*/

.radio-button-block {
    display: flex;
    flex-direction: row;
    align-self: start;
    gap: 90px;
    margin: 15px 0;

}

.radio {
    position: relative;
    overflow: hidden;
    
}

.radio input[type="radio"] {
    display: none;

}

.radio label {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-right: auto;
    margin-left: 40px;

}

.radio label:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 5px;
    left: 0px;


}

.radio input[type="radio"]:checked+label::after {
    content: "";
    display: block;
    border-radius: 50%;
    background-color: #0C0C0E;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 10px;
    left: 5px;


}

.radio-button-block__item {
    cursor: pointer;
    padding: 5px 0px;

  }
  
  .radio-button-block__item *,
  .radio-button-block__item *:before,
  .radio-button-block__item *:after {
    cursor: pointer;
  }

.radio input[type="radio"]:checked~label {
    font-weight: bold;

}



/* *______________________________FAVORITES_LIST__*/

.favorites-list {
    display: flex;
    flex-flow: row wrap;
    row-gap: 40px;
    justify-content: space-between;

}

.favorites__item {
    width: 590px;
    height: 555px;

}

.book {
    width: 550px;
    height: 555px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 40px 80 auto 35px; */
    padding: 15px 20px;
    row-gap: 20px;
    position: relative;

}

.book__text {
    width: 355px;
    height: 320px;
    overflow: hidden;

}

.border {
    width: 60px;
    height: 1px;
    border-bottom: 1px solid var(--main-library);
}


.button-low {
    width: 75px;
    height: 30px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    border: 1px solid var(--black-library);
    border-radius: 2px;
    background-color: var(--white);
}

.button-low--press {
    border: solid 1px var(--main-library);
    color: var(--main-library);
    background-color: white;

}

.book__preview {
    width: 200px;
    height: 300px;
    position: absolute;
    left: 390px;
    top: 255px;

}

.book__preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.favorites-list>.favorites__item:nth-child(n+5) {
    display: none;
}


/* *______________________________COFFEE-SHOP SECTION___ */

/* .coffee-shop__content {
    padding: 20px 20px 40px 20px;
    gap: 20px;

} */

.coffee-shop__description {
    text-align: center;
}


.coffee-shop__menu {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;

}

.menu-coffee {
    display: flex;
    flex-direction: column;
    gap: 40px;
    

}

.menu-desserts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;

}

.menu-item {
    display: flex;
    gap: 60px;
    align-items: center;

}

.border--long {
    width: 100px;
}

/* *______________________________CONTACTS SECTION___ */


.information {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.information__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information__list li {}

.information__list li:nth-child(1),
.information__list li:nth-child(4) {
    margin-bottom: 20px;
}

.information__map {
    width: 700px;
    height: 414px;

}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.find-card {
    width: 600px;
    height: 453px;
    flex-shrink: 0;

}

.find-card__title {
    font-size: 30px;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 30px;

}

.find-card__form {
    padding: 17px;
    border: 3px solid var(--main-library);
}

.find-card__input {
    background-color: var(--main-library);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    margin-bottom: 25px;

}

.find-card__input input {
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    align-self: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form {
    width: 520px;
    height: 66px;
    border-radius: 10px;
    padding: 8px 20px;

}


.find-card__button {
    display: block;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: var(--white);
    font-weight: 700;
    margin: 10px auto;
    width: 244px;
    height: 44px;
    letter-spacing: 1px;

}

.find-card__button:hover,
.button-low:hover:not([disabled]) {
    background: var(--main-library);
    transition: 0.5s;
    border: 1px solid var(--main-library);
    cursor: pointer;

}


.get-card {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: end;
    width: 456px;
}

.get-card__text {
    display: flex;
    flex-direction: column;
    gap:35px;
    align-items: flex-end;
}


.get-card__buttons {
    display: flex;
    align-items: end;
    gap: 20px;
}


/* *______________________________FOOTER___ */

.footer {
    background-color: var(--black-library);
}

.footer__container {
    height: 250px;
    background-color: var(--black-library);
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;

}

.footer-block {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.footer-block__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    color: var(--white);
    align-items: center;
}

.social {
    display: flex;
    width: 102px;
    height: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

}

.footer__line {
    width: 1400px;
    height: 1px;
    background-color: var(--white);

}

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}


.footer-block:last-child {
    border-top: 1px solid white;

}

.footer-copyright__year {
    min-width:200px;
    flex: 0 0 auto;
    text-align: start;
}
.footer-copyright__autor {
    min-width:200px;
    flex: 0 0 auto;  
    text-align: end;
}

.footer-copyright__school{
    flex: 2;
    text-align: center;
     
}

/**_____________________________________________________ MEDIA */

@media (max-width:767px) {
    .container{
        max-width: none;

    }

    .text {
        text-align: center;

    }

    .slider__image-list {
       justify-content: center;
    }
    
    .slider__navigation {
        margin-top: 20px;

    }
    .favorites-list {
        justify-content: center;
    }
    .coffee-shop__menu {
        justify-content: center;
        flex-flow: column wrap;
        row-gap: 40px;
    }
    .information {
        flex-direction: column;

    }
    .information__list {
        align-items: flex-start;
    }
    .information__map {
        margin-top: 100px;
        align-self: center;
    }
    .cards {
        flex-direction: column;
        align-items: center;
        
    }
    .get-card {
        align-items: center;
        gap: 40px;

    }
    .get-card__text {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 40px;
        align-items: center;
        
    }
    .text--right {
        text-align: center !important;
    }
    .get-card {
        width: 600px;
    }


    /* less 768*/
    /* .get-card,
    .find-card,
    .form,
    .information__map {
        width: 100%;
    } */
}





/**_____________________________________________________ ROOT */

:root {
    --black-library: #0C0C0E;
    --main-library: #BB945F;
    --gray-library: #8E8E8E;
    --header-footer-text-color: #fff;

    --black: #000000;
    --white: #fff;

    --font-size-base: 1.25rem;
    /*20px*/
    --font-family-forum: Forum, sans-serif;
    --font-family-inter: Inter, sans-serif;


}